html 
    head 
        title Apollo Crewed Missions
        meta(name="title", content="Apollo Crewed Missions")
        meta(name="description", content="List of Apollo crewed missions")
        meta(name="author", content="Petar Jerković")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

    body 
        .content
            h1 Apollo Crewed Missions 

            table(border="1")
                tr
                    th Data properties:
                tr
                    td   mission name
                tr
                    td launch date
                tr
                    td launch site
                tr
                    td crew list
                tr
                    td  name
                tr
                    td  date of birth
                tr
                    td launch vehicle
                tr
                    td command module name
                tr
                    td lunar module name
                tr
                    td duration
                tr
                    td remarks
                tr
                    td wiki

            ul Description
                li Licence: Creative Commons Zero v1.0 Universal
                li Version: 1.0
                li Language: English
                li Available file formats: json, sql dump, csv
                li Keywords: apollo, apollo missions, NASA
                li Date and time format: ISO8601
                li Author: Petar Jerković
            
            .csv
                a(href="data/apollo-missions.json", download="apollo-missions.json") JSON
            .json
                a(href="data/apollo-missions.csv", download="apollo-missions.csv") CSV 
