html 
    head 
        title Apollo Crewed Missions
        meta(name="title", content="Apollo Crewed Missions")
        meta(name="description", content="List of Apollo crewed missions")
        meta(name="author", content="Petar Jerković")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

    body 
        .content
            h1 Apollo Crewed Missions
            .csv
                a(href="data/apollo-missions.json", download="apollo-missions.json") JSON
            .json
                a(href="data/apollo-missions.csv", download="apollo-missions.csv") CSV 
